<%- include('partials/header') -%>

    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>create account</h2>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="register-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>create account</h3>
                    <div class="theme-card">
                        <form class="theme-form" action="/register" method="POST">
                            <div class="form-row row">
                                <div class="col-md-6">
                                    <label for="email">Name</label>
                                    <input type="text" name="username" class="form-control" id="fname" placeholder="Enter Name">
                                </div>
                                <div class="col-md-6">
                                    <label for="review">Phone No</label>
                                    <input type="number" name="phoneno" class="form-control" id="lname" placeholder="Phone No"
                                        required="">
                                </div>
                                
                            </div>
                            <div class="form-row row">
                                <div class="col-md-6">
                                    <label for="email">Address</label>
                                    <input type="text" name="address" class="form-control" id="email" placeholder="Enter Your Address" required="">
                                </div>
                                
                                <div class="col-md-6">
                                    <label for="review">Password</label>
                                    <input type="password" name="password" class="form-control" id="review"
                                        placeholder="Enter your password" required="">
                                </div>
                                <div class="col-md-6">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" class="form-control" id="email" placeholder="Email" required="">
                                </div>
                                <div><button  class="btn btn-solid w-auto" >create Account</button></div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->
<%- include('partials/footer') -%>